{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }]
  }
}
